body {
    font-family: sans-serif;
    font-size: small;
    background-image:url("bg.png") ;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}
div {  
    list-style: none;
   color: #FFFFFF;
}
ul {
    list-style: none;
    color: #FFFFFF;
}


.nav-list {
    position: fixed;
    
    align-items: center;
    
    
    display: grid;
    grid-auto-flow: column;
    margin-top: -15px;
    margin-left: 50%;
    padding: 0px;
    color: white;
    overflow: hidden;
    background-color: #333;
    
    height: 50px;
    width: auto;
    
    float: inline-start;
    z-index: 2;
}  
.nav-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#aktiv {
    background-color: #db7f50;
    font-size: 20px;
    font-weight: normal;
}   
.nav-list a:hover{
    background-color: #111 ;

    transform: translateY(2px);
}
.kreis {
background: #5a7e64;
border-radius: 50%;
height: 900px;
width: 900px;
    position: absolute;
    margin-top: -400px;
    margin-left: 0 auto;
    opacity: 92%;
    }

.icon {
    display: grid;
    grid-auto-flow:column;
  
    
    margin-left: 247px;
    margin-top: -50px;
    
    z-index: 1;
    position: absolute;
    color: #FFFFFF;
    opacity: 70%;
    transition: all ease-in-out 0,2s;
}
.icon:hover{ 
    transform: translateX(-13px);
}  

.icon2 {
    display: grid;
    grid-auto-flow:column;
  
    
    margin-left: 400px;
    margin-top: 20px;
    
    z-index: 1;
    position: absolute;
    color: #FFFFFF;
    opacity: 100%;
    transition: all ease-in-out 0,2s;
}
.icon2:hover{ 
    opacity: 70%;
    transform: translateX(-13px);
}  
h1 {
    text-decoration: none;
    font-size: 5em;
    font-family: Sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    color: white;
}
h1 a { 
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    opacity: 95%;
    color: white;
    float: center;

}
h2 {
    text-decoration: none;
    font-size: 1,5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #FFFFFF;
    margin-top:0px;
    margin-left: 250px;
} 
h3 {
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    color: #db7f50;
    margin-top:-60px;
    margin-left: -4.5px;
    margin-bottom: 10px;
} 

h4 {
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    color: black;
    margin-top:5px;
    margin-left: -2px;
    margin-bottom: 2px;
} 
  
.text1 { 
    position: sticky;  
    z-index: 1;  
    font-style: Bold;
    margin-left: 50%;
    font-size: 28px;
    margin-top: 100px;
    opacity: 70%;
}   
.text2 { 
    position: sticky;  
    z-index: 1;  
    font-style: normal;
    margin-left: 50%;
    font-size: 18px;
    margin-top: 10px;
    opacity: 70%;
}   
.text3 { 
    
    position: sticky;  
    z-index: 1;  
    font-style: normal;
    text-align: center;
    margin-left: 0%;
    font-size: 29px;
    margin-top: 150px;
    opacity: 70%;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: black;
}

.formular{
   width: 300px;
   padding:35px;
   margin: auto;
   margin-top:20%;
   font-family: sans-serif;
   margin-left: 5%;

} 
.formular .controlls {
    width: 90%; 
    margin-block-end: 5px;
    height: 5px;
    background: #d1d1d1;
    padding: 5%;
    opacity: 70%;
    font-size: 15px;
    font-weight: normal;
}    
.formular .controllsN {
    width: 150%; 
    margin-block-end: 5px;
    height: 50px;
    background: #d1d1d1;
    padding: 5%;
    opacity: 70%;
    font-size: 15px;
    font-weight: normal;
}    

.formular .bottons {
    margin-bottom: 10%;
    width: 50%;
    height: 30px;
    background: #5a7e64 ;
    border: none;
    color: white;
    padding: center;
    font-weight: lighter;
    font-size: 15px;
}    



.cons {
    grid-gap:180px;
    margin-right: 20px;
    margin-top:20%;
    margin-bottom: 10px;
    color: #5a7e64;
    text-align: left;
} 
.cons a {
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: #5a7e64;
    margin-left: 20%;
    font-weight: bold;
    margin-bottom: 0%;
    height: 30px;
    width: 35%;
}

.container {
    position: relative;
    margin: auto;
    width: 800px;
}
.image {
    margin: auto;
    display: block;
    width: 100%;
    height: 90%;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 97.5%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
.container:hover .overlay {
    opacity: 1;
  }

.cons2 {
    grid-gap:180px;
    margin-right: 10px;
    margin-top:5%;
    margin-bottom: 10px;
    color:#5a7e64;
    text-align: left;
} 
.cons2 a {
    text-decoration: none;
    display: block;
    font-size: 30px;
    color:#5a7e64;
    margin-left: 20%;
    font-weight: bold;
    margin-bottom: 1%;
}

.container2 {
    position: relative;
    margin: auto;
    width: 800px;
}
.image2 {
    margin: auto;
    display: block;
    width: 100%;
    height: 90%;
}
.overlay2 {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 97.5%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
.container2:hover .overlay2 {
    opacity: 1;
  }

p {
    margin: 4px;
    float: center;
    margin-left: 0 auto;
}
.pics {
    
    float: left;
margin: 0 auto
}
button {
    
    background-color: #f7c8ad;
}
.unten {
    grid-auto-flow: column;
    grid-auto-columns: 1px;
    margin-top: 40px;
    margin-bottom: 1px;
    text-align: center;
    color: black;
    opacity: 40%;
}
.unten a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: #FFFFFF;
}
